@mixin test-form-field-theme($theme) {
  $error: map-get($theme, error);
  $underline-color-error: mat-color($error);

  // Styling for the error state of the form field.
  .mat-form-field.mat-form-field-invalid {
    .mat-form-field-label {
      color: $underline-color-error;

      &.mat-accent,
      .mat-form-field-required-marker {
        color: $underline-color-error;
      }
    }

    .mat-form-field-ripple,
    .mat-form-field-ripple.mat-accent {
      background-color: $underline-color-error;
    }
  }

  .mat-error {
    color: $underline-color-error;
  }
}
