<div *ngIf="messageService.messages.length">

  <h2>Messages</h2>
  <button class="clear" (click)="messageService.clear()" mat-raised-button color="error">clear</button>
  <div *ngFor='let message of messageService.messages'> {{message}} </div>

</div>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput name="email" placeholder="Email" [formControl]="emailFormControl"
           [errorStateMatcher]="matcher">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
<!-- <mat-progress-bar mode="query" color="warn"></mat-progress-bar> -->