<h3>Top Heroes</h3>

<mat-grid-list cols="4" rowHeight="2:1">
  <a *ngFor="let hero of heroes" class="col-1-4" routerLink="/detail/{{hero.id}}">
    <mat-grid-tile class="module hero">{{hero.name}}</mat-grid-tile>
  </a>
</mat-grid-list>
<app-hero-search></app-hero-search>
<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" [formControl]="emailFormControl"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form> -->
  